# Logistic Regression Model

In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Loading data
file_path = Path("../Resources/Final_Merged_Data.csv")
df_texas = pd.read_csv(file_path)
df_texas.head()

,zipcode,latitude,longitude,city,state,population,density,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,net_income
0,75001,32.96015,-96.83808,Addison,TX,16287,1675.8,273859.578248,295281.261346,319308.556028,332937.394421,333861.351907,339818.071981,378728.238689,440760.626322,454387.585703,31081.0
1,75002,33.08946,-96.60639,Allen,TX,71102,730.5,239753.959055,264265.549908,284191.718651,296218.093998,296925.018846,305948.221490,360917.024084,456706.808768,464720.114745,97936.0
2,75006,32.96165,-96.89717,Carrollton,TX,48104,1087.9,166228.034235,190571.631296,211957.412770,230517.640102,237664.547886,247785.264211,278907.454892,332128.562201,341701.767495,115491.0
3,75007,33.00498,-96.89590,Carrollton,TX,54448,1765.6,202984.628681,229672.379983,252570.849051,270069.177898,275111.240888,285478.082796,325031.654801,389614.500264,400732.127660,100570.0
4,75009,33.33840,-96.75185,Celina,TX,24737,96.8,280691.570208,310914.564739,336086.422557,346691.188607,347364.967716,354443.470226,428784.450364,567323.669790,557517.038561,16893.0

In [3]:
#Seeing the rows above and putting them to zero
df_texas.fillna(0, inplace=True)

In [4]:
#focusing on the non float values 
df_texas = df_texas[["zipcode","latitude","longitude",
    "population", "density","net_income", "p_2015", "p_2016","p_2017","p_2018","p_2019","p_2020","p_2021","p_2022","p_2023"]]

df_texas

,zipcode,latitude,longitude,population,density,net_income,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023
0,75001,32.96015,-96.83808,16287,1675.8,31081.0,273859.578248,295281.261346,319308.556028,332937.394421,333861.351907,339818.071981,378728.238689,440760.626322,454387.585703
1,75002,33.08946,-96.60639,71102,730.5,97936.0,239753.959055,264265.549908,284191.718651,296218.093998,296925.018846,305948.221490,360917.024084,456706.808768,464720.114745
2,75006,32.96165,-96.89717,48104,1087.9,115491.0,166228.034235,190571.631296,211957.412770,230517.640102,237664.547886,247785.264211,278907.454892,332128.562201,341701.767495
3,75007,33.00498,-96.89590,54448,1765.6,100570.0,202984.628681,229672.379983,252570.849051,270069.177898,275111.240888,285478.082796,325031.654801,389614.500264,400732.127660
4,75009,33.33840,-96.75185,24737,96.8,16893.0,280691.570208,310914.564739,336086.422557,346691.188607,347364.967716,354443.470226,428784.450364,567323.669790,557517.038561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1985,79259,34.36243,-100.45594,49,0.3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986,79517,32.87754,-101.24144,139,0.3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1987,75429,33.27847,-95.89231,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1988,75671,32.48907,-94.31494,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1989,76848,30.83928,-99.56370,78,0.4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
# Create the X set by using the `reshape` function to format the ads data as a single column array.
X =  df_texas.drop(columns='p_2023')

# Display sample data
X[:5]

,zipcode,latitude,longitude,population,density,net_income,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022
0,75001,32.96015,-96.83808,16287,1675.8,31081.0,273859.578248,295281.261346,319308.556028,332937.394421,333861.351907,339818.071981,378728.238689,440760.626322
1,75002,33.08946,-96.60639,71102,730.5,97936.0,239753.959055,264265.549908,284191.718651,296218.093998,296925.018846,305948.221490,360917.024084,456706.808768
2,75006,32.96165,-96.89717,48104,1087.9,115491.0,166228.034235,190571.631296,211957.412770,230517.640102,237664.547886,247785.264211,278907.454892,332128.562201
3,75007,33.00498,-96.89590,54448,1765.6,100570.0,202984.628681,229672.379983,252570.849051,270069.177898,275111.240888,285478.082796,325031.654801,389614.500264
4,75009,33.33840,-96.75185,24737,96.8,16893.0,280691.570208,310914.564739,336086.422557,346691.188607,347364.967716,354443.470226,428784.450364,567323.669790

In [6]:
y = df_texas["p_2023"]
y[:5]

0    454387.585703
1    464720.114745
2    341701.767495
3    400732.127660
4    557517.038561
Name: p_2023, dtype: float64

In [7]:
model = LinearRegression()

In [8]:
model.fit(X, y)

LinearRegression()

In [9]:
predicted_y_values = model.predict(X)

In [10]:
# Create a copy of the original data
df_texas_predicted = df_texas.copy()

# Add a column with the predicted sales values
df_texas_predicted["p_2024"] = predicted_y_values

# Display sample data
df_texas_predicted.head()

,zipcode,latitude,longitude,population,density,net_income,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,p_2024
0,75001,32.96015,-96.83808,16287,1675.8,31081.0,273859.578248,295281.261346,319308.556028,332937.394421,333861.351907,339818.071981,378728.238689,440760.626322,454387.585703,451971.477347
1,75002,33.08946,-96.60639,71102,730.5,97936.0,239753.959055,264265.549908,284191.718651,296218.093998,296925.018846,305948.221490,360917.024084,456706.808768,464720.114745,464810.080884
2,75006,32.96165,-96.89717,48104,1087.9,115491.0,166228.034235,190571.631296,211957.412770,230517.640102,237664.547886,247785.264211,278907.454892,332128.562201,341701.767495,343073.373029
3,75007,33.00498,-96.89590,54448,1765.6,100570.0,202984.628681,229672.379983,252570.849051,270069.177898,275111.240888,285478.082796,325031.654801,389614.500264,400732.127660,397552.894659
4,75009,33.33840,-96.75185,24737,96.8,16893.0,280691.570208,310914.564739,336086.422557,346691.188607,347364.967716,354443.470226,428784.450364,567323.669790,557517.038561,580052.612195

In [11]:
# Compute the metrics for the linear regression model
score = model.score(X, y, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print releveant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.9983791308493806.
The r2 is 0.9983791308493806.
The mean squared error is 63708410.165767424.
The root mean squared error is 7981.754829971128.
The standard deviation is 198255.1170407528.