# Logistic Regression Model

### Step 1: Import Dependences and Read in the TX_population_price_income.csv dataset

In [1]:
# Import the modules and/or dependencies for the model
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn import utils
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Import and read the CSV file from the Resources Folder into a Pandas DataFrame
#import boto3

# AWS S3 Keys and bucket
#aws_access_key_id = "AKIA5NM2LZY7AKLH3DEV"
#aws_secret_access_key = "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"
#bucket_name = "txsqlbucket"
#file_key = "TX_population_price_income.csv"

# Initialize S3 client
#s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

# Transfer CSV from S3 to a local file
#local_file_path = 'local_file.csv'
#s3.download_file(bucket_name, file_key, local_file_path)

#Read CSV File from S3 and convert into a DataFrame
#df = pd.read_csv(local_file_path)

#df.head()

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df = pd.read_csv(
    Path(r"C:\Users\gurpa\Documents\GitHub\project-4-group-3\Resources\output\TX_full_data.csv")   
)

# Review the DataFrame
df.head()

,zipcode,latitude,longitude,state,population,P_2015,P_2016,P_2017,P_2018,P_2019,P_2020,P_2021,P_2022,P_2023,Net_Income,bedroom_number,bathroom_number,living_space,land_space
0,75001,32.96,-96.84,TX,16287.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,31081.0,2.0,3.0,1981.0,1873.0
1,75002,33.09,-96.61,TX,71102.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,97936.0,4.0,3.0,3044.0,3827.0
2,75006,32.96,-96.90,TX,48104.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,115491.0,3.0,2.0,1938.0,5075.0
3,75007,33.00,-96.90,TX,54448.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,100570.0,3.0,2.0,2049.0,6753.0
4,75009,33.34,-96.75,TX,24737.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,16893.0,4.0,4.0,3153.0,5374.0

#### Minor fixtures to dataset

In [4]:
# Drop any null or empty values
df=df.dropna(how='any')

In [5]:
#focusing on the relevant values 
df = df[["zipcode", "population","Net_Income", "P_2015", "P_2016","P_2017","P_2018","P_2019","P_2020","P_2021","P_2022","P_2023", "bedroom_number", "bathroom_number", 
                    "living_space", "land_space"]]

df.head()

,zipcode,population,Net_Income,P_2015,P_2016,P_2017,P_2018,P_2019,P_2020,P_2021,P_2022,P_2023,bedroom_number,bathroom_number,living_space,land_space
0,75001,16287.0,31081.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,2.0,3.0,1981.0,1873.0
1,75002,71102.0,97936.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,4.0,3.0,3044.0,3827.0
2,75006,48104.0,115491.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,3.0,2.0,1938.0,5075.0
3,75007,54448.0,100570.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,3.0,2.0,2049.0,6753.0
4,75009,24737.0,16893.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,4.0,4.0,3153.0,5374.0

### Step 2: Split the data into X and y variables

In [6]:
# Separate the data into labels and features

# Create a y variable and use the P_2023 column as the label
y = df['P_2023'].values.reshape(-1,1)

# Create an X variable and use all other columns as features
X = df.drop(['P_2023'], axis = 1)

In [7]:
# Review the y variable series
y[:]

array([[454387.59],
       [464720.11],
       [341701.77],
       ...,
       [217041.27],
       [199986.1 ],
       [238718.81]])

In [8]:
# Review the X variable DataFrame
X.head()

,zipcode,population,Net_Income,P_2015,P_2016,P_2017,P_2018,P_2019,P_2020,P_2021,P_2022,bedroom_number,bathroom_number,living_space,land_space
0,75001,16287.0,31081.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,2.0,3.0,1981.0,1873.0
1,75002,71102.0,97936.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,4.0,3.0,3044.0,3827.0
2,75006,48104.0,115491.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,3.0,2.0,1938.0,5075.0
3,75007,54448.0,100570.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,3.0,2.0,2049.0,6753.0
4,75009,24737.0,16893.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,4.0,4.0,3153.0,5374.0

### Step 3: Create and Fit Model

In [9]:
model = LogisticRegression()

In [10]:
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)
# Source https://www.statology.org/valueerror-unknown-label-type-continuous/

C:\Users\gurpa\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
model.fit(X, y_transformed)

C:\Users\gurpa\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
predicted_y_values = model.predict(X)

In [13]:
# Create a copy of the original data
df_predicted = df.copy()

# Add a column with the predicted sales values
df_predicted["P_2024"] = predicted_y_values

# Display sample data
df_predicted.head()

,zipcode,population,Net_Income,P_2015,P_2016,P_2017,P_2018,P_2019,P_2020,P_2021,P_2022,P_2023,bedroom_number,bathroom_number,living_space,land_space,P_2024
0,75001,16287.0,31081.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,2.0,3.0,1981.0,1873.0,1016
1,75002,71102.0,97936.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,4.0,3.0,3044.0,3827.0,1028
2,75006,48104.0,115491.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,3.0,2.0,1938.0,5075.0,909
3,75007,54448.0,100570.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,3.0,2.0,2049.0,6753.0,953
4,75009,24737.0,16893.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,4.0,4.0,3153.0,5374.0,1088

### Step 4: Generate Results of Model

In [14]:
# Compute the metrics for the linear regression model
score = model.score(X, y_transformed, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y_transformed, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.8780068728522337.
The r2 is -2.9201082325744623.
The mean squared error is 1759.7388316151203.
The root mean squared error is 41.949241132768066.
The standard deviation is 173691.36634301304.